# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# In general we don't want to litter files for every IDE/environment
# in the Daffodil source tree.
#
!build.sbt
*.sbt
.cache
.cache-main
.cache-tests
.history
.scala_dependencies
.~*#
daffodil-extra/*
errors
lib_managed
out
resource_managed
src_managed
target
testData_OnClassPath
#
# For IntelliJ IDEA
#
# (Not keeping these for now. But if someone starts using IntelliJ heavily
# this could be changed.)
#
.idea
.idea_modules
*.iml
#
# For Emacs & ensime
#
*~
.\#*
.\#.*
.ensime_cache
\#*#
#
# For vim
#
.*.swp
#
# For Eclipse
#
.classpath
.project
.settings
/eclipse-projects
bin
#
# For C, Scala Metal, Visual Studio Code & zig cc
#
*.a
*.o
.bloop
.metals
.vscode
GPATH
GRTAGS
GTAGS
daffodil-runtime2/src/main/c/daffodil
zig-cache
